<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/favicon.ico" />
    @RenderSection("ParentCss", false)
</head>
<body>
    @RenderBody()
</body>
</html> 
<script src="~/js/jquery-3.2.1.min.js"></script>
<script src="~/js/hooray/jquery-browser.js"></script>
<script src="~/js/hooray/lib/hooraylibs.js"></script>
<script src="~/js/bootstrap/js/bootstrap.min.js"></script>
<script src="~/js/sugar/sugar-1.4.1.min.js"></script>
<script src="~/js/hooray/hros.min.js"></script>
<script src="~/js/validate/Validform_v5.3.2/Validform_v5.3.2_min.js"></script>
<script src="~/js/webuploader-0.1.5/webuploader.js"></script>
@*<environment names="Staging,Production">
    <script src="~/js/bundle.js" asp-append-version="true"></script>
</environment>*@
   
<script src="~/js/artDialog4.1.7/jquery.artDialog.js?skin=default"></script>
<script src="~/js/artDialog4.1.7/plugins/iframeTools.js"></script>

<script>
    //配置artDialog全局默认参数
    (function (config) {
        config['lock'] = true; 
        config['fixed'] = true;
        config['resize'] = false;
        config['background'] = '#000';
        config['opacity'] = 0.5;
    })($.dialog.defaults);
    //toolTip
    $('[rel="tooltip"]').tooltip();
    //表单提示
    $("[datatype]").focusin(function () {
        $(this).parent().addClass('info').children('.infomsg').show().siblings('.help-inline').hide();
    }).focusout(function () {
        $(this).parent().removeClass('info').children('.infomsg').hide().siblings('.help-inline').show();
    });

    openDetailIframe = function (url) {
        //NewCrm.msgbox.loading('正在载入中，请稍后...');
        $('#detailIframe iframe').attr('src', url).on('load', function () {
            $('body').css('overflow', 'hidden');
            //NewCrm.msgbox.close()
            $('#detailIframe').animate({ 'top': 0, 'opacity': 'show' }, 500);
        });
    };
    closeDetailIframe = function (callback) {
        $('body').css('overflow', 'auto');
        $('#detailIframe').animate({ 'top': '-100px', 'opacity': 'hide' }, 500, function () {
            if (callback) {
                callback && callback();
            }
        });
    };

    function alertInfo(msg, type) {
        if (type) {
            top.NewCrm.msgbox.info(msg);
        } else {
            top.NewCrm.msgbox.fail(msg);
        }
    }
</script>

@RenderSection("ParentScript", false)
