@model NewCrmCore.Dto.AccountDto


<div class="input-label">
    <label class="label-text">用户名：</label>
    <div class="label-box form-inline">@Model.Name</div>
</div>
<div class="input-label">
    <label class="label-text">注册时间：</label>
    <div class="label-box form-inline">@Model.AddTime</div>
</div>
<div class="input-label">
    <label class="label-text">最近一次登录时间：</label>
    <div class="label-box form-inline">
        @Model.LastLoginTime
        <a href="/AccountSetting/Index?target=accountsafe" class="btn btn-link">如果不是你登录的，请及时修改密码</a>
    </div>
</div>
<div class="input-label">
    <label class="label-text">最近一次登录IP：</label>
    <div class="label-box form-inline">@(Context.Request.HttpContext.Connection.RemoteIpAddress.ToString()== "::1" ? "127.0.0.1" : Context.Request.HttpContext.Connection.RemoteIpAddress.ToString())</div>
</div>
