@model NewCrmCore.Dto.AccountDto

@{
	Layout = "~/Views/Shared/_LayoutRoot.cshtml";
	var requestTarget = Context.Request.Query["target"];
}

<div class="title">
	<ul>
		<li data-value="baseinfo" @{ if (requestTarget == "baseinfo") { <text>
			class="focus"
			</text>  } }>
			<a href="javascript:void(0);">基本信息</a>
		</li>

		<li data-value="modifyface" @{ if (requestTarget == "modifyface") { <text>
			class="focus"
			</text>  } }>
			<a href="javascript:void(0);">修改头像</a>
		</li>

		<li data-value="accountsafe" @{ if (requestTarget == "accountsafe") { <text>
			class="focus"
			</text>  } }>
			<a href="javascript:void(0);">账号安全</a>
		</li>
	</ul>
</div>

@{
	if (Model != null)
	{
		switch (requestTarget)
		{
			case "baseinfo":
				{
					Html.RenderPartial("~/Views/AccountSetting/BaseInfo.cshtml", Model);
					break;
				}
			case "modifyface":
				{
					Html.RenderPartial("~/Views/AccountSetting/ModifyFace.cshtml", Model);
					break;
				}
			case "accountsafe":
				{
					Html.RenderPartial("~/Views/AccountSetting/AccountSafe.cshtml");
					break;
				}
			default:
				{
					<text>
						@Html.Partial("~/Views/AccountSetting/BaseInfo.cshtml", Model);
					</text>
					break;
				}
		}
	}
}

@section ChildrenScript
	{
	<script>
        @{
			if (String.IsNullOrEmpty(requestTarget))
			{
                <text>
                    $('.title ul > li').first().addClass('focus');
                </text>
            }
        }

        $('.title ul > li').on('click', function () {
            var $li = $(this);
            var value = $li.attr('data-value');
            $('.title ul > li').each(function (k, v) {
                $(v).removeClass('focus');
            });
            var baseUrl = '@Url.Action("Index", "AccountSetting")'
            if (value === 'baseinfo') {
                location.href = baseUrl + '?target=baseinfo';
            } else if (value === 'modifyface') {
                location.href = baseUrl + '?target=modifyface';
            } else if (value === 'accountsafe') {
                location.href = baseUrl + '?target=accountsafe';
            }
        });


     var f1=$('#form').Validform({
            btnSubmit: '#form-submit',
			postonce: true,
            showAllError: true,
            tiptype: function (msg, o) {
                if (!o.obj.is('form')) {
                    var B = o.obj.parents('.control-group');
                    var T = B.children('.help-inline');
                    if (o.type === 2) {
                        B.removeClass('error');
                        T.text('');
                    } else {
                        B.addClass('error');
                        T.text(msg);
                    }
                }
            },
			ajaxPost: false,
			postonceTip:function(){
                NewCrm.msgbox.fail(HROS.CONFIG.postOnce)
            },
            beforeSubmit: function (curform) { 
                NewCrm.msgbox.loading(HROS.CONFIG.loadingPrompt)
            },
            callback: function (form) {
                $.dialog({
                    title: '温馨提示',
                    icon: 'warning',
                    content: '在更新登陆密码时，是否将锁屏密码一并修改为登陆密码？',
                    button: [
                        {
                            name: '否',
                            callback: function () {
                                $('#lockPwdIsEqLoginPwd').val('0')
                                form[0].submit()
                            },
                            focus: true
                        },
                        {
                            name: '是',
                            callback: function () {
                                $('#lockPwdIsEqLoginPwd').val('1')
								form[0].submit()
                            }
                        }
                    ]
                });
                return false;
            }
        });
		$(function () {
			$('#hidden_frame').on('load', function () {
				var response = $(this).contents().find("body").text()
				if (response) {
					var responseText = JSON.parse($(this).contents().find("body").text());
					if (responseText.IsSuccess) {
						NewCrm.msgbox.success('您修改了登陆密码，2秒后跳转到登陆界面');
						setTimeout(function () {
							top.location.reload()
						}, 2000)
					} else {
						NewCrm.msgbox.fail('修改失败');
					}
				}
			})
		 })

      var f2=  $('#form2').Validform({
            btnSubmit: '#form-submit2',
            postonce: true,
            showAllError: true,
            tiptype: function (msg, o) {
                if (!o.obj.is('form')) {
                    var B = o.obj.parents('.control-group');
                    var T = B.children('.help-inline');
                    if (o.type == 2) {
                        B.removeClass('error');
                        T.text('');
                    } else {
                        B.addClass('error');
                        T.text(msg);
                    }
                }
            },
			ajaxPost: false,
			postonceTip:function(){
                NewCrm.msgbox.fail(HROS.CONFIG.postOnce)
            },
            beforeSubmit: function (curform) { 
                NewCrm.msgbox.loading(HROS.CONFIG.loadingPrompt)
            },
            callback: function (responseText) {
                $.dialog({
                    title: '温馨提示',
                    icon: 'warning',
                    content: '确认修改锁屏密码?',
                    button: [
                        {
                            name: '是',
                            callback: function () {
                                $('#lockPwdIsEqLoginPwd').val('0')
                                form[0].submit()
                            },
                            focus: true
                        },
                        {
                            name: '否',
                            callback: function () {
                                return false;
                            }
                        }
                    ]
                });
                return false;
            }
        });
	</script>
}
