@model NewCrmCore.Dto.UserDto

@{
    Layout = "~/Views/Shared/_LayoutRoot.cshtml";
    var requestTarget = Context.Request.Query["target"];
}
@section ChildrenCss
    {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/webuploader/0.1.1/webuploader.css" rel="stylesheet">
}
@section SysCss
    {
    <link rel="stylesheet" href="/css/hoorayui/sys.css" />
    <style>
        * {
            box-sizing: unset;
        }
    </style>
}

<div class="title">
    <ul>
        <li data-value="baseinfo" @{ if (requestTarget == "baseinfo") { <text> class="focus" </text>  } }>
            <a href="javascript:void(0);">基本信息</a>
        </li>

        <li data-value="usersafe" @{ if (requestTarget == "usersafe") { <text> class="focus" </text>  } }>
            <a href="javascript:void(0);">账号安全</a>
        </li>
    </ul>
</div>

@{
    if (Model != null)
    {
        switch (requestTarget)
        {
            case "baseinfo":
            {
                Html.RenderPartial("~/Views/UserSetting/BaseInfo.cshtml", Model);
                break;
            }
            case "usersafe":
            {
                Html.RenderPartial("~/Views/UserSetting/UserSafe.cshtml");
                break;
            }
            default:
            {
                Html.RenderPartial("~/Views/UserSetting/BaseInfo.cshtml", Model);
                break;
            }
        }
    }
}

@section ChildrenScript
    {
    @{
        if (String.IsNullOrEmpty(requestTarget))
        {
            <text>
                $('.title ul > li').first().addClass('focus');
            </text>
        }
    }
    NewCrm.UserSetting.Index.url = '@Url.Action("index", "usersetting")';
    NewCrm.UserSetting.Index.uploadUrl = '@(NewCrmCore.Infrastructure.Appsetting.UploadUrl)';
    NewCrm.UserSetting.Index.id = '@Model.Id';
}
@section ScriptLabel
{
    <script src="~/js/pagelogic/usersetting_index.js"></script>
}
