<div class="wapppapercustom">
    <div class="tip">
        <a href="###" id="upload" class="btn btn-mini fr" >上传头像</a>
        <strong>自定义头像：</strong>
    </div>
    <div class="view">
        <ul></ul>
    </div>
</div>
 