<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link href="~/js/bootstrap/css/bootstrap.css"  />
</head>
<body>
    <div>
        你们啊，毕竟还too young，明白我的意思吧？我告诉你们，我是身经百战见得多了，西方的哪一个国家我没有去过？
    </div>
    <a href="#" class="btn btn-primary btn-lg  " role="button">Primary link</a>
    <a href="#" class="btn btn-default btn-lg  " role="button">Link</a>
</body>
</html>
<script src="~/js/jquery-3.2.1.min.js"></script>
<script>
    (function () {
        $.get('', {}, function () { })
    })
</script>