@{
    Layout = "~/Views/Shared/_LayoutRoot.cshtml";
}
@section ChildrenCss
    {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
}
@section SysCss
    {
    <link rel="stylesheet" href="/css/hoorayui/sys.css" />
}
<div class="title">
    <ul>
        <li><a href="/desk/systemwallpaper">壁纸设置</a></li>
        <li class="focus">皮肤设置</li>
    </ul>
</div>
<ul class="skin" id="skinList"></ul>
@section ScriptLabel
{
    <script src="~/js/pagelogic/desk_configskin.js"></script>
}
