@{
    Layout = "~/Views/Shared/_LayoutRoot.cshtml";
}
@section ChildrenCss
{
	<link rel="stylesheet" href="/js/bootstrap/css/bootstrap.min.css" />
}
@section SysCss
{
	<link rel="stylesheet" href="/css/hoorayui/sys.css" />
}
<div class="title">
    <ul>
        <li><a href="/Desk/SystemWallPaper">壁纸设置</a></li>
        <li class="focus">皮肤设置</li>
    </ul>
</div>
<ul class="skin" id="skinList"></ul>
@section ChildrenScript
{
    <script>
        $(function () {
			loadAllSkin(function () {
                changeSkin();
            });
        });

		function loadAllSkin(callback) {
			
			HROS.request.get('/Desk/GetSkins', {}, function (responseText) {
                if (responseText.IsSuccess) {
                    var html = '';
                    $.each(responseText.Model.result, function (k, v) {
                        html += '<li  skin="' + k + '"><img src="' + v.imgPath + '"  data-css="' + v.cssPath + '"><div></div></li>';
                    });
                    $('#skinList').append(html);
                    $('li[skin="' + responseText.Model.currentSkin + '"]').addClass('selected');
                    if (typeof (callback) === 'function') {
                        callback && callback();
                    }
                } else {
                    NewCrm.msgbox.fail(responseText.Message);
                }
            });
        }

        function changeSkin() {
            $('.skin li').on('click', function () {
                var skin = $(this).attr('skin');
                $('.skin li').removeClass('selected');
                $(this).addClass('selected');
				HROS.request.post('/Desk/ModifySkin', { skin: skin }, function (responseText) {
                    if (responseText.IsSuccess) {
                        window.parent.NewCrm.msgbox.success("皮肤设置成功，如果没有更新请刷新页面");
                        setTimeout(function () {
                            window.parent.HROS.base.getSkin(skin);
                        }, 2000);
                    } else {
                        NewCrm.msgbox.fail(responseText.Message);
                    }
                });
            });
        }
    </script>
}
