@using NewCrmCore.Dto
@using NewLibCore
@{
    Layout = "~/Views/Shared/_LayoutRoot.cshtml";
    var userConfig = ViewData["UserConfig"] as ConfigDto;
}
@section ChildrenCss
    {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/webuploader/0.1.1/webuploader.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
}
@section SysCss
    {
    <link rel="stylesheet" href="/css/hoorayui/sys.css" />
}
<div class="title">
    <ul>
        <li class="focus">壁纸设置</li>
        <li><a href="/desk/configskin">皮肤设置</a></li>
    </ul>
</div>
<div class="wallpapertype ">
    <div class="btn-group">
        <a class="btn btn-secondary" href="/desk/systemwallpaper">系统壁纸</a><a class="btn btn-secondary disabled">自定义</a>
    </div>
    <div class="fr form-inline">
        <label>显示方式：</label>
        <select name="wallpapertype" id="wallpapertype" class="form-control" style="width: 100px">
            <option name="fill" value="fill" @{if (userConfig.WallpaperMode == "Fill") { <text> selected="selected" </text>  } }>填充</option>
            <option name="adapted" value="adapted" @{if (userConfig.WallpaperMode == "Adapted") { <text> selected="selected" </text>  }}>适应</option>
            <option name="tile" value="tile" @{ if (userConfig.WallpaperMode == "Tile") { <text> selected="selected" </text>  } }>平铺</option>
            <option name="draw" value="draw" @{ if (userConfig.WallpaperMode == "Draw") { <text> selected="selected" </text>  } }>拉伸</option>
            <option name="center" value="center" @{ if (userConfig.WallpaperMode == "Center") { <text> selected="selected" </text>  } }>居中</option>
        </select>
    </div>
</div>
<div class="wapppapercustom">
    <div class="tip">
        <label for="upload" class="btn btn-outline-primary btn-sm">上传壁纸</label>
        <input type="file" id="upload" class="btn btn-mini fr" style="display:none">
        <strong>自定义壁纸：</strong>最多上传6张，每张上传的壁纸大小不超过1M
    </div>
    <div class="view">
        <ul></ul>
    </div>
</div>
<div class="wapppaperwebsite form-inline">
    <label>网络壁纸：</label>
    <div class="input-append">
        <input type="text" id="wallpaperurl" class="form-control" style="width: 350px" placeholder="请输入一个URL地址（建议以 jpg, jpeg, png, gif, html, htm 结尾）" value=""><button type="button" class="btn" id="webWallpaper">应用</button>
    </div>
</div>
@section ChildrenScript
    {
    <script src="~/js/pagelogic/desk_customizewallpaper.js"></script>
    NewCrm.Desk.CustomizeWallpaper.url='@(NewCrmCore.Infrastructure.Appsetting.UploadUrl)'
    NewCrm.Desk.CustomizeWallpaper.userId = '@userConfig.UserId'
}

