@{
	Layout = "~/Views/Shared/_LayoutApps.cshtml";
}
@section ChildrenCss{
	<style>
		.m{
			position: absolute;
			left: 40%;
			top: 30%;
		}
            
    </style>
}
<div class="loading" style="display: none"></div>
<div id="parentDiv" style="height: 100%">
	<div  class="m">
		<div  class="well">
			<form id="loginForm" class="form-horizontal">
				<div class="control-group">
					<label class="control-label" for="inputEmail">账户</label>
					<div class="controls">
						<input type="text" name="accountname" id="accountname" value="admin" class="accountname" placeholder="用户名" autocomplete="off" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputPassword">密码</label>
					<div class="controls">
						<input type="password" name="password" id="password" value="@("xiaofan@.1")" class="password" placeholder="密码" oncontextmenu="return false" onpaste="return false" />
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<label class="checkbox">
							<input type="checkbox" id="remerber">七天内记住我
						</label>
						<button class="btn" id="login">登 陆</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
 @section ChildrenScript{
	<script>
		$(function () {
			$("#login").click(function (event) {
				if (!$('#accountname').val() || !$('#password').val()) {
					alert("请输入用户名和密码")
					return false;
				}

				event.preventDefault();
				beginLogin();
				
				var parameter = {Name: $('.accountname').val(),Password: $('.password').val(),IsRememberPasswrod: $('#remerber').prop('checked')};
				HROS.request.post('/desk/landing',parameter,function(responseText){
					if (responseText.IsSuccess) {
						$('.loading').hide();
						location.href = '/Desk/Index';
					} else {
						endLogin();
						alert('账号或密码错误')
					}
				})
			});
		});

		function beginLogin() {
			$('form').fadeOut(500);
			$('.wrapper').addClass('form-success');
			$('.loading').show();
			$('#parentDiv').hide();
		}

		function endLogin() {
			$('form').fadeIn(500);
			$('.wrapper').removeClass('form-success');
			$('.loading').hide();
			$('#parentDiv').show();
		}
	</script>
 }
