@using NewCrmCore.Infrastructure.CommonTools
@{
	Layout = "~/Views/Shared/_LayoutRoot.cshtml";
}
@section ChildrenCss{
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
}
@section SysCss
{
	<link rel="stylesheet" href="/css/hoorayui/sys.css" />
}
<div style="overflow:hidden">
	<div class="loading" style="display: none"></div>
	<div class="bg">
		<div class="SignFlowHomepage-content" >
			<div class="well">
				<form name="form" id="form" method="POST" action="/desk/landing" class="form-horizontal">
				<input type="hidden" name="token" value="@(await TimeToken.GetFormTokenAsync())" />
					<div class="control-group">
						<div class="controls">
							<input type="text" name="username" value="admin" placeholder="用户名" datatype="s2-10" nullmsg="请输入用户名" errormsg="用户名长度为2-10个字符" />
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<input type="password" name="password" value="@("xiaofan@.1")" placeholder="密码" datatype="*6-12" nullmsg="请输入用户密码" errormsg="用户密码长度为6-12个字符"  />
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<label class="checkbox">
								<input type="checkbox" onchange="$('#remerber').val($(this).prop('checked'))" >七天内登录
								<input type="hidden" name="remerber" id="remerber">
							</label>
							<a class="btn" id="btn-submit" href="###" >登 陆</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
 @section ChildrenScript
 {
	let f = $('#form').Validform({
		btnSubmit: '#btn-submit',
			postonce: true,
			showAllError: true,
			tiptype: function (msg, o) {
				if (!o.obj.is('form')) { 
					let B = o.obj.parents('.control-group');
					let T = B.children('.help-inline');
					if (o.type === 2) {
						B.removeClass('error');
						T.text('');
					} else {
						B.addClass('error');
						T.text(msg);
					}
				}
			},
			ajaxPost: true,
			postonceTip:function(){
				NewCrm.msgbox.fail(HROS.CONFIG.postOnce)
			},
			beforeSubmit: function (curform) { 
				NewCrm.msgbox.loading(HROS.CONFIG.loadingPrompt)
			},
			callback: function (responseText) {
				let response = responseText;
				if (response.IsSuccess) {
					location.href = '/desk/index'
				} else {
					NewCrm.msgbox.fail(response.Message);
				}
			}		
	});
}
