@{
	Layout = "~/Views/Shared/_LayoutApps.cshtml";
}
@section ChildrenCss{
	<style>
		.m{
			position: absolute;
			left: 40%;
			top: 30%;
		}
            
    </style>
}
<div>
	<div class="loading" style="display: none"></div>
	<div id="parentDiv" style="height: 100%">
		<div  class="m">
			<div  class="well">
				<form name="form" id="form" method="POST" action="/desk/landing" class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="inputEmail">账户</label>
						<div class="controls">
							<input type="text" name="accountname" value="admin" placeholder="用户名" datatype="s2-10" nullmsg="请输入用户名" errormsg="用户名长度为2-10个字符" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="inputPassword">密码</label>
						<div class="controls">
							<input type="password" name="password" value="@("xiaofan@.1")" placeholder="密码" datatype="*6-12" nullmsg="请输入用户密码" errormsg="用户密码长度为6-12个字符"  />
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<label class="checkbox">
								<input type="checkbox" onchange="$('#remerber').val($(this).prop('checked'))" >七天内记住我
								<input type="hidden" name="remerber" id="remerber">
							</label>
							<a class="btn" id="btn-submit" href="###" >登 陆</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
 @section ChildrenScript{
	<script>
		$(function(){
			$('body').prop('style','background:url(/images/ui/sign_bg.png) no-repeat 0 0;width:100%;height:100%;background-color:cadetblue')
			var f = $('#form').Validform({
				btnSubmit: '#btn-submit',
				postonce: true,
				showAllError: true,
				tiptype: function (msg, o) {
					if (!o.obj.is('form')) { 
						var B = o.obj.parents('.control-group');
						var T = B.children('.help-inline');
						if (o.type === 2) {
							B.removeClass('error');
							T.text('');
						} else {
							B.addClass('error');
							T.text(msg);
						}
					}
				},
				ajaxPost: true,
				beforeSubmit: function (curform) {
					if (f.getStatus() === 'posted') {
						NewCrm.msgbox.loading(HROS.CONFIG.postOnce)
						return false
					} else {
						NewCrm.msgbox.loading(HROS.CONFIG.loadingPrompt)
					}
				},
				callback: function (responseText) {
					var response = responseText;
					if (response.IsSuccess) {
						location.href = '/desk/index'
					} else {
						NewCrm.msgbox.fail(response.Message);
					}
				}
			});
		})

		function beginLogin() {
			$('form').fadeOut(500);
			$('.wrapper').addClass('form-success');
			$('.loading').show();
			$('#parentDiv').hide();
		}

		function endLogin() {
			$('form').fadeIn(500);
			$('.wrapper').removeClass('form-success');
			$('.loading').hide();
			$('#parentDiv').show();
		}
	</script>
 }
