@using NewCrmCore.Infrastructure.CommonTools
@{
    Layout = "~/Views/Shared/_LayoutRoot.cshtml";
}
@section ChildrenCss{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
}
@section SysCss
    {
    <link rel="stylesheet" href="/css/hoorayui/sys.css" />
    <link rel="stylesheet" href="/css/hoorayui/lobibox.css" />
}
<div style="overflow:hidden">
    <div class="loading" style="display: none"></div>
    <div class="bg">
        <div class="SignFlowHomepage-content">
            <div class="container">
                <!-- row是珊栏系统的包裹容器-->
                <div class="row">
                    <!-- col-md-x 表示此珊栏占据几个格子，offset-x 是偏移x格子-->
                    <div class="col-md-4 col-md-offset-4" style="float:none;display:block;margin-left:auto;margin-right:auto">
                        <!-- panel分为3个部分，heading,body,footer其中heading部分的颜色来自于panel-default的颜色-->
                        <div class="card">
                            <!-- panel-headeing是有颜色的，此颜色来自于panel-default-->
                            <div class="card-header">登录信息</div>
                            <div class="card-body">
                                <form name="form" id="form" method="POST" action="/desk/landing" class="form-horizontal">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="oi oi-person"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" name="UserName" value="alahuakeba" placeholder="用户名" datatype="s2-10" nullmsg="请输入用户名" errormsg="用户名长度为2-10个字符" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="oi oi-lock-locked "></i>
                                                </span>
                                            </div>
                                            <input type="password" class="form-control" name="Password" value="" placeholder="密码" datatype="*6-12" nullmsg="请输入用户密码" errormsg="用户密码长度为6-12个字符" />
                                        </div>
                                    </div>
                                    <div class="form-inline mb-2">
                                        <label class="checkbox">
                                            <input type="checkbox" onchange="$('#remember').val($(this).prop('checked'))" class="mr-2"> 七天内登录
                                            <input type="hidden" name="Remember" value='false' id="remember">
                                        </label>
                                    </div>
                                    <a class="btn btn-success btn-block" id="btn-submit" href="###">登 陆</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@section ScriptLabel
{
    <script src="~/js/pagelogic/desk_login.js"></script>
}
