@using NewCrmCore.Dto
@{
    Layout = "~/Views/Shared/_LayoutRoot.cshtml";
    var wallpapers = ViewData["Wallpapers"] as IList<WallpaperDto>;
    var userConfig = ViewData["UserConfig"] as ConfigDto;
}
@section ChildrenCss
    {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
}
@section SysCss
    {
    <link rel="stylesheet" href="/css/hoorayui/sys.css" />
}
<div class="title">
    <ul>
        <li class="focus">壁纸设置</li>
        <li><a href="/desk/configskin">皮肤设置</a></li>
    </ul>
</div>
<div class="wallpapertype ">
    <div class="btn-group">
        <a class="btn btn-secondary disabled">系统壁纸</a><a class="btn btn-secondary" href="/desk/customizewallpaper">自定义</a>
    </div>
    <div class="fr form-inline">
        <label>显示方式：</label>
        <select name="wallpapertype" class="form-control" id="wallpapertype" style="width: 100px">
            <option name="fill" value="fill" @{ if (userConfig.WallpaperMode == "fill") { <text> selected="selected" </text>  } }>填充</option>
            <option name="adapted" value="adapted" @{if (userConfig.WallpaperMode == "adapted") { <text> selected="selected" </text>  }}>适应</option>
            <option name="tile" value="tile" @{ if (userConfig.WallpaperMode == "tile") { <text> selected="selected" </text>  } }>平铺</option>
            <option name="draw" value="draw" @{ if (userConfig.WallpaperMode == "draw") { <text> selected="selected" </text>  } }>拉伸</option>
            <option name="center" value="center" @{ if (userConfig.WallpaperMode == "center") { <text> selected="selected" </text>  } }>居中</option>
        </select>
    </div>
</div>
<ul class="wallpaper">
    @for (Int32 i = 0; i < wallpapers.Count; i++)
    {
        <li wpid="@wallpapers[i].Id" @if (i % 3 == 2) { <text> class="three" </text> }>
            <img class="img-fluid" src="@wallpapers[i].Url" />
            <div>@wallpapers[i].Title</div>
        </li>
    }
</ul>

 

@section ScriptLabel
{
    <script src="~/js/pagelogic/desk_systemwallpaper.js"></script>
}
