@using NewCrmCore.Dto
@{
    Layout = "~/Views/Shared/_LayoutRoot.cshtml";
    var wallpapers = ViewData["Wallpapers"] as IList<WallpaperDto>;
    var userConfig = ViewData["UserConfig"] as ConfigDto;
}
@section ChildrenCss
{
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap.min.css" />
}
@section SysCss
{
	<link rel="stylesheet" href="/css/hoorayui/sys.css" />
}
<div class="title">
    <ul>
        <li class="focus">壁纸设置</li>
        <li><a href="/desk/configskin">皮肤设置</a></li>
    </ul>
</div>
<div class="wallpapertype form-inline">
    <div class="btn-group fl">
        <a class="btn disabled">系统壁纸</a><a class="btn" href="/desk/customizewallpaper">自定义</a>
    </div>
    <div class="fr">
        <label>显示方式：</label>
        <select name="wallpapertype" id="wallpapertype" style="width: 100px">
            <option name="fill" value="fill" @{ if (userConfig.WallpaperMode == "fill") { <text> selected="selected" </text>  } }>填充</option>
            <option name="adapted" value="adapted" @{if (userConfig.WallpaperMode == "adapted") { <text> selected="selected" </text>  }}>适应</option>
            <option name="tile" value="tile" @{ if (userConfig.WallpaperMode == "tile") { <text> selected="selected" </text>  } }>平铺</option>
            <option name="draw" value="draw" @{ if (userConfig.WallpaperMode == "draw") { <text> selected="selected" </text>  } }>拉伸</option>
            <option name="center" value="center" @{ if (userConfig.WallpaperMode == "center") { <text> selected="selected" </text>  } }>居中</option>
        </select>
    </div>
</div>
<ul class="wallpaper">
    @for (Int32 i = 0; i < wallpapers.Count; i++)
    {
        <li wpid="@wallpapers[i].Id" @if (i % 3 == 2) { <text> class="three" </text> }>
            <img src="@wallpapers[i].Url" />
            <div>@wallpapers[i].Title</div>
        </li>
    }
</ul>

@section ChildrenScript
{
    $("#wallpapertype").val(top.HROS.CONFIG.wallpaperType.toLowerCase());
    $("#wallpapertype").on('change', function () {
        top.HROS.wallpaper.update($('#wallpapertype').val(), '');
    });

    $('.wallpaper li').on('click', function () {
        top.HROS.wallpaper.update($('#wallpapertype').val(), $(this).attr('wpid'));
    });
}
