@{
	Layout = "~/Views/Shared/_LayoutRoot.cshtml";
}
@section ChildrenCss
{
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
}
@section SysCss
{
	<link rel="stylesheet" href="/css/hoorayui/sys.css" />
}
<div  style="margin-bottom:10px;background-color:#f5f5f5;border:1px solid #e3e3e3;min-height:20px;padding:9px">
	<div class="form-inline">
		<label>类目名称：</label>
		<input type="text" name="searchText" id="searchText" class="span2 form-control">
		<a class="btn btn-primary" menu="search" href="###" style="margin-left:10px"><i class="oi oi-magnifying-glass"></i> 搜索</a>
		<a class="btn btn-primary ml-auto" href="javascript:openDetailIframe('/AppTypes/CreateNewAppType');"><i class="oi oi-plus"></i> 创建新类目</a>
	</div>
</div>
<table class="list-table">
	<thead>
		<tr class="col-name">
			<th>类目名称</th>
			<th style="width:150px">操作</th>
		</tr>
		<tr class="sep-row"><td colspan="100"></td></tr>
		<tr class="toolbar">
			<td colspan="100">
				<b style="margin:0 10px">符合条件的记录</b>有<font class="list-count">0</font>条
			</td>
		</tr>
		<tr class="sep-row"><td colspan="100"></td></tr>
	</thead>
	<tbody class="list-con"></tbody>
	<tfoot>
		<tr>
			<td colspan="100">
				<div id="pagination"  style="margin:20px 0"></div>
				<input id="pagination_setting" type="hidden" per="15">
			</td>
		</tr>
	</tfoot>
</table>

<div id="detailIframe" style="background:#fff;position:fixed;z-index:1;top:-100px;left:0;width:100%;height:100%;display:none">
	<iframe frameborder="0" style="width:100%;height:100%"></iframe>
</div>
@section ChildrenTemplate
{
	<script id="li-template" type="text/x-handlebars-template">
		{{#each Model}}
		<tr class="list-bd">
			<td style="text-align:left;padding-left:15px">
				{{Name}}
			</td>
			<td>
				<a href="javascript:openDetailIframe('/apptypes/createnewappType?appTypeId={{Id}}');" class="btn btn-link">编辑</a>
				<a href="###" class="btn btn-link do-del" categoryid="{{Id}}">删除</a>
			</td>
		</tr>
		{{/each}}
	</script>
}
@section ChildrenScript
{
	//加载列表
	getPageList(0);
	//删除
	$('.list-con').on('click', '.do-del', function () {
		let categoryid = $(this).attr('categoryid');
		let name = $(this).parent().prev().text();
		$.dialog({
			id: 'ajaxedit',
			content: '删除后将不可恢复!是否继续?',
			ok: function () {
				HROS.request.post('/apptypes/remove', { appTypeId: categoryid }, function (responseText) {
					if (responseText.IsSuccess) {
						$('#pagination').trigger('currentPage');
					} else {
						NewCrm.msgbox.fail(responseText.Message);
					}
				});
			},
			cancel: true
		});
	});
	//搜索
	$('a[menu=search]').click(function () {
		getPageList(0);
	});
	function getPageList(current_page) {
		HROS.request.get('/apptypes/gettypes', {
			pageIndex: current_page === 0 ? 1 : current_page + 1,
			pageSize: 10,
			searchText: $('#searchText').val()
		}, function (responseText) {
			if (responseText.IsSuccess) {
				let template = Handlebars.compile($('#li-template').html());
				$('#pagination_setting').attr('count', parseInt(responseText.TotalCount));
				$('.list-count').text(parseInt(responseText.TotalCount));
				$('.list-con').html(template(responseText));
				initPagination({
					current_page: current_page,
					items_per_page: 5,
					num_display_entries: 3,
					num_edge_entries: 1,
					getPageList: getPageList
				})

			} else {
				NewCrm.msgbox.fail(responseText.Message);
			}
		});
	}
}

