@{
    Layout = "~/Views/Shared/_LayoutApps.cshtml";
}

@section ChildrenCss
{
    <style>
        body {
            margin: 10px 10px 0;
        }

        .membericon {
            width: 24px;
            height: 24px;
        }

        .membername {
            margin-left: 10px;
        }
    </style>
}

<div class="well well-small" style="margin-bottom:10px">
    <div class="form-inline">
        <label>账户名：</label>
        <input type="text" name="accountName" id="accountName" class="span2">
        <label style="margin-left:10px">账户类型：</label>
        <select name="accountType" id="accountType" style="width: 150px">
            <option value="">全部</option>
            <option value="1">账户</option>
            <option value="2">管理员</option>
        </select>
        <a class="btn" menu="search" href="javascript:;" style="margin-left:10px"><i class="icon-search"></i> 搜索</a>
        <a class="btn btn-primary fr" href="javascript:openDetailIframe('/AccountManager/CreateNewAccount');"><i class="icon-white icon-plus"></i> 添加新账户</a>
    </div>
</div>
<table class="list-table">
    <thead>
        <tr class="col-name">
            <th>账户名</th>
            <th style="width: 100px">类型</th>
            <th style="width: 150px">操作</th>
        </tr>
        <tr class="sep-row"><td colspan="100"></td></tr>
        <tr class="toolbar">
            <td colspan="100">
                <b style="margin: 0 10px">符合条件的记录</b>有<font class="list-count">0</font>条
            </td>
        </tr>
        <tr class="sep-row"><td colspan="100"></td></tr>
    </thead>
    <tbody class="list-con"></tbody>
    <tfoot>
        <tr>
            <td colspan="100">
                <div class="pagination pagination-centered" id="pagination"></div>
                <input id="pagination_setting" type="hidden" per="15">
            </td>
        </tr>
    </tfoot>
</table>

<div id="detailIframe" style="background:#fff;position:fixed;z-index:1;top:-100px;left:0;width:100%;height:100%;display:none">
    <iframe frameborder="0" style="width:100%;height:100%"></iframe>
</div>
@section ChildrenScript
{
    <script src="~/js/handlebars-v4.0.5.js"></script>

    <script id="table-template" type="text/x-handlebars-template">
        {{#each Model}}
        <tr class="list-bd">
            <td style="text-align:left;padding-left:15px;width:33%">
                <img src="{{AccountFace}}" alt="{{Name}}" class="membericon">
                <span class="membername">{{Name}}</span>
            </td>
            <td style="text-align:left;padding-left:15px;width:33%">{{convertAccountType AccountType}}</td>
            <td style="width:33%">
                <a href="javascript:openDetailIframe('/AccountManager/CreateNewAccount?accountId={{Id}}');" class="btn btn-link">编辑</a>
                <a href="javascript:void(0);" class="btn btn-link do-del" memberid="{{Id}}">删除</a>
                {{#if IsDisable}}
                <a href="javascript:void(0);" class="btn btn-link do-disable" isDisable="false" memberid="{{Id}}">启用</a>
                {{else}}
                <a href="javascript:void(0);" class="btn btn-link do-disable" isDisable="true" memberid="{{Id}}">禁用</a>
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </script>


    <script>
        $(function () {
            //加载列表
            getPageList(0);
            //删除
            $('.list-con').on('click', '.do-del', function () {
                var memberid = $(this).attr('memberid');
                var name = $(this).parent().prev().text();
                art.dialog({
                    id: 'edit',
                    content: '确定要删除 “' + name + '” 该账户么？',
                    ok: function () {
                        HROS.request.post('/AccountManager/RemoveAccount', { accountId: memberid }, function (responseText) {
                            if (responseText.IsSuccess) {
                                $('#pagination').trigger('currentPage');
                            } else {
                                NewCrm.msgbox.fail(responseText.Message);
                            }
                        });
                    },
                    cancel: true
                });
            });

            $('.list-con').on('click', '.do-disable', function () {
                var memberid = $(this).attr('memberid');
                var name = $(this).parent().prev().text();
                var isDisable = $(this).attr('isDisable') === 'false';
                art.dialog({
                    id: 'edit',
                    content: isDisable ? '确定要启用 “' + name + '” 该账户么？' : '确定要禁用 “' + name + '” 该账户么？',
                    ok: function () {
                        let url = '';
                        if (isDisable) {
                            url = '/AccountManager/AccountDisable';
                        } else{
                            url = '/AccountManager/AccountEnable';
                        }



                        HROS.request.post(url, { accountId: parseInt(memberid) }, function (responseText) {
                            if (responseText.IsSuccess) {
                                $('#pagination').trigger('currentPage');
                            } else {
                                NewCrm.msgbox.fail(responseText.Message);
                            }
                        });
                    },
                    cancel: true
                });
            });

            //搜索
            $('a[menu=search]').click(function () {
                getPageList(0);
            });
        });

        function initPagination(current_page) {
            $('#pagination').pagination(parseInt($('#pagination_setting').attr('count')), {
                current_page: current_page,
                items_per_page: 5,
                num_display_entries: 3,
                num_edge_entries: 1,
                callback: getPageList,
                prev_text: '上一页',
                next_text: '下一页'
            });
        }

        function getPageList(current_page) {
            HROS.request.get('/AccountManager/Accounts', {
                accountName: $('#accountName').val(),
                accountType: $('#accountType').val(),
                pageIndex: current_page === 0 ? 1 : current_page + 1,
                pageSize: 5
            }, function (responseText) {
                if (responseText.IsSuccess) {
                    var tableTemplate = Handlebars.compile($("#table-template").html());
                    $('.list-con').html(tableTemplate(responseText));
                    $('#pagination_setting').attr('count', responseText.TotalCount);
                    $('.list-count').text(responseText.TotalCount);

                    initPagination(current_page);
                } else {
                    NewCrm.msgbox.fail(responseText.Message);
                }
            });
        }

        Handlebars.registerHelper('convertAccountType', function (accountType) {
            if (accountType === 1) {
                return '账户';
            } else {
                return '管理员';
            }
        });
    </script>

}
